<div>
    <h2>Book list:</h2>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="handleClick()" [disabled]="isDisable" [hidden]="isDisable">Show Books</button>
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="handleClick()" [disabled]="!isDisable" [hidden]="!isDisable">unShow Books</button>
</div>
<br>
<div>
    <input type="text" [(ngModel)]="myName" />
    <p>{{ myName }}</p>
</div>
<br>
<div *ngIf="isDisable">
    <ul class="flex flex-wrap justify-center">
        <ng-container *ngFor="let book of books; let i=index">
            <app-book [book]="book" class="w-1/8 p-5 text-center"></app-book>
        </ng-container>
    </ul>
</div>
