.booklist {
    list-style: none;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    margin-left: 40%;
    width: 100%;
}

.booktitle {
    font-size: 130%;
    color: rgb(124, 46, 46);
}


